<!DOCTYPE html>
<html>
<head>
	<title>Sushma_Angular</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="SiteStyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>
<body>
		<div id="header1">
			<h5><a href="../index.html">Click here to go back to Sushma's Portfolio</a></h5>
			<h1>Starlight Event Management</h1>
			<h5>-Immortalizing your happiest moments</h5>
		</div>
			
		<div id="tabs1" ng-app>
			<nav class="{{active}}" ng-click="$event.preventDefault()"></nav>

			<a ng-href="MainPage.html" class="home" ng-click="active='Home'">Home</a>
			<a href="aboutus.html" class="about" ng-click="active='About'">About</a>
			<a href="contact.html" class="contactus" ng-click="active='ContactUs'">Contact Us</a>
			<a href="Reviews.html" class="userreviews" ng-click="active='UserReviews'">User Reviews</a>

			
			<p ng-show="active">You chose <b>{{active}}</b></p>
		</div>
		<br>


	<div id="header2">
		<h1><a href="Reviews.html">Read what our customers are saying!</h1></a>
	</div>

	<div id="nav">
		<h3>Event</h3>
		<table>
				<tr><td><a href="weddings.html">Weddings</a></td></tr>
				<tr><td><a href="birthdays.html">Birthdays</a></td></tr>
				<tr><td> <a href="bbys.html">Baby Showers</a></td></tr>
				<tr><td> <a href="corp.html">Corporate Events</a> </td></tr>
      	</table>
   		<h3>Attractions</h3>
				Mehendi (Henna Tattoo) <br>
				Face and Body Painting <br>
				Music and Dance <br>
				Specialty Food Stalls <br>
				Special Acts <br>
				Keepsakes<br> 
		
	</div>

	<div id="section1">
		<h2>Planning an event? You are at the right place!</h2>
		<p id="para">
			Our Motto: "Every occasion calls for a celebration!"
			<br>
			Our Mission: "To ensure utmost customer satisfaction and fun!"
			<br>
			<h2>Please contact us at xxx-xxx-xxxx or email us at starlightevents@gmail.com</h2>
		</p>
	</div>

	<div id="footer">
		<div>
			<a href="MainPage.html">home</a>
			<a href="contact.html">| contact</a> 
			<a href="aboutus.html">| about us</a>
			<a href="Reviews.html"> | feedback</a> 
		</div>
		Copyright © Starlight.com
	</div>

</body>

</html>